  <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-md-12">
            <img border="1" src="https://giwiz-tpc.c.yimg.jp/q/iwiz-tpc/images/story/2017/4/21/_1492757605_1492757594_3.jpg" width="100%" height="430px" alt="ウリハッキョ" title="ウリハッキョ">
               <div class="jumbotron">
                  <h2><b><%= @nickname %>さん</b>コマッスンミダ！</h2>
                  <h1><%= @point %>ポイント<small>がウリハッキョへ送られました</small></h1>
                  <p>このポイントはウリハッキョの教育事業の発展のために使われます。</p>
                  <p><a class="btn btn-warning btn-lg" href="/" role="button" style="color: white;">ポイント履歴</a></p>
               </div>
            </div>
        </div>
  </div>
