  <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header" style="font-size:24px">パスコードが違います
                    <small>確認画面</small>
                </h4>
            </div>
        </div>
  </div>
