 <div class="container" style="margin-top:50px">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header" style="font-size:24px">トンポ店を探す
                    <small>検索結果一覧</small>
                </h4>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-12">

                <div class="col-md-2" style="padding:0;margin-top:40px">
                    <div class="headline-v2 bg-color-light"><h2>カテゴリーで探す</h2></div>
                    <ul class="list-inline tags-v2 margin-bottom-50">
                        <li><a href="#">焼肉</a></li>
                        <li><a href="#">居酒屋</a></li>
                        <li><a href="#">飲み屋</a></li>
                        <li><a href="#">鉄板焼き</a></li>
                        <li><a href="#">韓国料理</a></li>
                        <li><a href="#">小料理屋</a></li>
                        <li><a href="#">鍋</a></li>
                        <li><a href="#">フレンチ</a></li>
                        <li><a href="#">イタリアン</a></li>
                        <li><a href="#">焼き鳥</a></li>
                        <li><a href="#">その他</a></li>
                    </ul>

                    <div class="headline-v2 bg-color-light"><h2>価格帯で探す</h2></div>
                    <ul class="list-inline tags-v2 margin-bottom-50">
                        <li><a href="#">〜2000</a></li>
                        <li><a href="#">2001～3000円</a></li>
                        <li><a href="#">3001～4000円</a></li>
                        <li><a href="#">4001～5000円</a></li>
                        <li><a href="#">5001～7000円</a></li>
                        <li><a href="#">7001～10000円</a></li>
                        <li><a href="#">10001円～</a></li>
                    </ul>

                    <div class="headline-v2 bg-color-light"><h2>沿線から探す</h2></div>
                    <ul class="list-inline tags-v2 margin-bottom-50">
                        <li><a href="#">中央線</a></li>
                        <li><a href="#">埼京線</a></li>
                        <li><a href="#">京浜東北線</a></li>
                        <li><a href="#">山手線</a></li>
                        <li><a href="#">京王線</a></li>
                        <li><a href="#">京成線</a></li>
                        <li><a href="#">井の頭線</a></li>
                        <li><a href="#">東横線</a></li>
                        <li><a href="#">銀座線</a></li>
                        <li><a href="#">常磐線</a></li>
                        <li><a href="#">総武線</a></li>
                        <li><a href="#">南武線</a></li>
                        <li><a href="#">高崎線</a></li>
                        <li><a href="#">湘南新宿線</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://uds.gnst.jp/rest/img/bhtwxzn10000/s_0n63.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">焼肉</span><span class="station">小平</span></div>
                                <h3>炭火焼肉キム</h3>
                                <p>
                                  先月よりオープンした炭火焼肉キムです！本日も元気良く営業中です。七輪・炭火で焼く昔ながらの味付けが売りです^ ^各種宴会、貸切の受付もしておりますので是非ご来店下さい！
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="/stores/1"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://01.gatag.net/img/201504/16l/gatag-00001503.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">居酒屋</span><span class="station">池袋</span></div>
                                <h3>串焼きカン</h3>
                                <p>
                                  「楽しく・美味しく」がモットーの串焼きカンです！少人数で語り合うのも良し。大人数でワイワイ楽しむのも良し。品数豊富なメニューをリーズナブルな価格で提供します！各種宴会等承ります！！</p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://www.pakutaso.com/shared/img/thumb/DSCF5981.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">飲み屋</span><span class="station">新宿</span></div>
                                <h3>呑み屋パク</h3>
                                <p>
                                  【何名様でも全席完全個室居酒屋】生ビール含200種超飲み放題付コースは2890円(税抜)～新宿駅周辺で居酒屋をお探しでしたら是非、個室居酒屋　王者の食卓熊本下通店をご利用ください★熊本きっての和風完全個室居酒屋!★最大100名様OK
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://uds.gnst.jp/rest/img/bhtwxzn10000/s_0n63.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">焼肉</span><span class="station">小平</span></div>
                                <h3>炭火焼肉キム</h3>
                                <p>
                                  先月よりオープンした炭火焼肉キムです！本日も元気良く営業中です。七輪・炭火で焼く昔ながらの味付けが売りです^ ^各種宴会、貸切の受付もしておりますので宜しくお願いします！
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="/stores/1"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://01.gatag.net/img/201504/16l/gatag-00001503.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">居酒屋</span><span class="station">池袋</span></div>
                                <h3>串焼きカン</h3>
                                <p>
                                  「楽しく・美味しく」がモットーの串焼きカンです！少人数で語り合うのも良し。大人数でワイワイ楽しむのも良し。品数豊富なメニューをリーズナブルな価格で提供します！各種宴会等承ります！！</p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://www.pakutaso.com/shared/img/thumb/DSCF5981.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">飲み屋</span><span class="station">新宿</span></div>
                                <h3>呑み屋パク</h3>
                                <p>
                                  【何名様でも全席完全個室居酒屋】生ビール含200種超飲み放題付コースは2890円(税抜)～熊本周辺で居酒屋をお探しでしたら是非、個室居酒屋　王者の食卓熊本下通店をご利用ください★熊本きっての和風完全個室居酒屋!★最大100名様OK
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://uds.gnst.jp/rest/img/bhtwxzn10000/s_0n63.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">焼肉</span><span class="station">小平</span></div>
                                <h3>炭火焼肉キム</h3>
                                <p>
                                  先月よりオープンした炭火焼肉キムです！本日も元気良く営業中です。七輪・炭火で焼く昔ながらの味付けが売りです^ ^各種宴会、貸切の受付もしておりますので宜しくお願いします！
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="/stores/1"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://01.gatag.net/img/201504/16l/gatag-00001503.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">居酒屋</span><span class="station">池袋</span></div>
                                <h3>串焼きカン</h3>
                                <p>
                                  「楽しく・美味しく」がモットーの串焼きカンです！少人数で語り合うのも良し。大人数でワイワイ楽しむのも良し。品数豊富なメニューをリーズナブルな価格で提供します！各種宴会等承ります！！</p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://www.pakutaso.com/shared/img/thumb/DSCF5981.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">飲み屋</span><span class="station">新宿</span></div>
                                <h3>呑み屋パク</h3>
                                <p>
                                  【何名様でも全席完全個室居酒屋】生ビール含200種超飲み放題付コースは2890円(税抜)～熊本周辺で居酒屋をお探しでしたら是非、個室居酒屋　王者の食卓熊本下通店をご利用ください★熊本きっての和風完全個室居酒屋!★最大100名様OK
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://uds.gnst.jp/rest/img/bhtwxzn10000/s_0n63.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">焼肉</span><span class="station">小平</span></div>
                                <h3>炭火焼肉キム</h3>
                                <p>
                                  先月よりオープンした炭火焼肉キムです！本日も元気良く営業中です。七輪・炭火で焼く昔ながらの味付けが売りです^ ^各種宴会、貸切の受付もしておりますので宜しくお願いします！
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="/stores/1"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://01.gatag.net/img/201504/16l/gatag-00001503.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">居酒屋</span><span class="station">池袋</span></div>
                                <h3>串焼きカン</h3>
                                <p>
                                  「楽しく・美味しく」がモットーの串焼きカンです！少人数で語り合うのも良し。大人数でワイワイ楽しむのも良し。品数豊富なメニューをリーズナブルな価格で提供します！各種宴会等承ります！！</p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://www.pakutaso.com/shared/img/thumb/DSCF5981.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">飲み屋</span><span class="station">新宿</span></div>
                                <h3>呑み屋パク</h3>
                                <p>
                                  【何名様でも全席完全個室居酒屋】生ビール含200種超飲み放題付コースは2890円(税抜)～熊本周辺で居酒屋をお探しでしたら是非、個室居酒屋　王者の食卓熊本下通店をご利用ください★熊本きっての和風完全個室居酒屋!★最大100名様OK
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                    </div>

                        <div class="">
                            <div class="text-center">
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#" style="background-color:#E23F54;color:white">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
