<!--   <div class="container" style="margin-top:50px">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header" style="font-size:24px"><%= current_user.nickname %>さん
                    <small>マイページ</small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <div class="alert alert-danger" role="alert" >
                 <h3>あなたがウリハッキョへ送ったポイント合計</h3>
                 <h1 style="text-align: center;"><learge style="font-size: 200px;"><%= @points %></learge>トンポポイント</h1>
               </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-md-12">
                      <h3>行ったことがあるお店</h3>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://asakusa-navi.jp/shop/28750/image/28750_block01_01_1_img.jpg?rad=E2TqZTfsU5" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">焼肉</span><span class="station">築地</span></div>
                                <h3>ホルモンけむり</h3>
                                <p>
                                  昨日よりオープンしたホルモンけむりです！本日も元気良く営業中です。ご来店なさったお客様にはサービスとしてワンドリンクサービスしております^ ^各種宴会、貸切の受付もしておりますので宜しくお願いします！
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="/stores/1"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="http://webmemo.biz/wp-content/uploads/slooProImg_20130518030705.jpg" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">居酒屋</span><span class="station">池袋</span></div>
                                <h3>大阪焼肉ホルモンふたご</h3>
                                <p>
                                  木の温もりと暖かい灯りが和の風情溢れる店内は全席個室。夜景が見える個室を始め、メインのテーブル個室は仕切りの入れ方で少人数から大人数まで様々な人数に対応可能！店内奥には寛ぎ感満載の掘りごたつ個室も。10名様以下での飲み会から20名・30名などのご宴会はもちろん、店舗貸切では120名様までの団体利用もOK</p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="snip1253">
                              <div class="image"><img src="https://uds.gnst.jp/rest/img/5sy77vn50000/s_00mu.jpg?t=1508388533" alt="sample52" height="180px" width="100%"></div>
                              <figcaption>
                                <div class="notable"><span class="category">飲み屋</span><span class="station">新宿</span></div>
                                <h3>柚柚 ～yuyu～</h3>
                                <p>
                                  【何名様でも全席完全個室居酒屋】生ビール含200種超飲み放題付コースは2890円(税抜)～熊本周辺で居酒屋をお探しでしたら是非、個室居酒屋　王者の食卓熊本下通店をご利用ください★熊本きっての和風完全個室居酒屋!★最大100名様OK
                                </p>
                              </figcaption>
                              <footer>
                                <div class="views"><i class="fa fa-jpy"></i>~4000円</div>
                                <div class="love"><i class="fa fa-clock-o"></i>17:00~25:00</div>
                              </footer><a href="#"></a>
                            </figure>
                        </div>
                    </div>
              </div>
  </div>
 -->
